---
---


.coursework-list {
    list-style-type: none; 
    margin-left: 20px;
    margin-bottom: 15px;

    li {
        font-weight: bold;
        margin-bottom: 5px;

        .course-code {
            color: #b7b7b7; 
            font-weight: bold; 
        }
    }
}

@import "portfolYOU";
