---
---


.coursework-list {
    list-style-type: none; 
    margin-left: 20px;
    margin-bottom: 15px;

    li {
        font-weight: bold;
        margin-bottom: 5px;

        .course-code {
            color: #343A40;
            text-shadow: 0.5px 0 #343A40, -0.5px 0 #343A40, 0 0.5px #343A40, 0 -0.5px #343A40;
        }        
    }
}

@import "portfolYOU";
